_bashrc.bk~
._bashrc.swp
._bashrc.un~
configForCode.vim.bk~
.configForCode.vim.swp
.configForCode.vim.un~
configForProse.vim.bk~
.configForProse.vim.swp
.configForProse.vim.un~
configForSlides.vim.bk~
.configForSlides.vim.swp
.configForSlides.vim.un~
figletRandomFont.py.bk~
.figletRandomFont.py.swp
.figletRandomFont.py.un~
.gitignore.bk~
..gitignore.swp
..gitignore.un~
randomMessage.py.bk~
.randomMessage.py.swp
.randomMessage.py.un~
_vimrc.bk~
._vimrc.swp
._vimrc.un~

